<%- include('../include/_header') %>
        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            
            <h1 class="h3 mb-2 text-gray-800"><i class="fa fa-users"></i>  <%= title %>  </h1>
            <p class="mb-4">Add Staff, Delete Staff, Only the Manager have the power to manage this page</p>
            <div class="card shadow mb-12">
                <div class="card card-header-actions">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-8"><b>Staff Information - <%= expressFlash2 %> </b></div>

                        </div>
                    </div>
                </div>
                <div class="card-body">

                    <form class="staff" method="POST" onSubmit="return confirm('Confirm to Add Staff')">
                        <div class="card-body">
                            <div class="row" style="margin-top: 4%;">
                                <div class="col-xl-8 col-md-6 mb-4">
                                    <div class="form-group">
                                        <input type="text" name="name" class="form-control form-control-user"
                                            placeholder="Name">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" name="email" class="form-control form-control-user"
                                            placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" class="form-control form-control-user"
                                            placeholder="Password">
                                    </div>

                                </div>
                                <div class="col-xl-4 col-md-6">
                                    <div class="row">
                                        <div class="card mb-4 col-12">
                                            <div class="card-body">
                                                <h5><b>Position</b></h5>
                                                <input type="radio" id="admin" name="role" value="admin">
                                                <label for="admin">Admin</label><br>
                                                <input type="radio" id="manager" name="role" value="manager">
                                                <label for="manager">Manager</label><br>
                                                <input type="radio" id="employee" name="role" value="employee">
                                                <label for="employee">Employee</label><br>
                                            </div>
                                        </div>                  
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <input type="submit" id="btnConfirmAddStaff" class="btn btn-success float-right" value="Add User">
                                        </div>
                                    </div>

                                </div>


                            </div>
                    </form>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->
<%- include('../include/_footer') %>