<%- include('include/_header') %>
        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Homepage</h1>
            </div>


            <!-- Content Row -->

            <div class="row">

                <!-- CARD 1 -->
                <div class="col-lg-8">
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div
                            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Project Background</h6>
                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                            </div>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <p style="text-align: justify; text-justify: inter-word;">
                            People nowadays prefer to eat their meals at restaurants. One of the main reasons people prefer to eat out is that they are too busy to cook when they have a lot of work to do. Furthermore, they must spend time and money cooking as well as the energy required to prepare their meals. As a result, 
                            there will be a large number of people who prefer to eat at a restaurant. As more people eat in restaurants, it will become increasingly difficult for restaurants to manage, as they continue to use the traditional food order method as their food order process.
                            </p>
                            <p style="text-align: justify; text-justify: inter-word;">
                            Traditionally, the restaurant must take orders manually, which is inefficient if the restaurant is too crowded. There will be many human errors as a result of this, such as mistakes in recording the name of the food, missing food order paper, and miscommunication with customers about the food order.
                            </p>
                            <p style="text-align: justify; text-justify: inter-word;">
                            Next, if the restaurant is overcrowded, more employees are undoubtedly required to handle the customers. If there are not enough employees to handle the workload, customers will be dissatisfied with the restaurant's service and will never return for the rest of their lives.
                            </p> 
                            <p style="text-align: justify; text-justify: inter-word;">
                            Finally, dealing with it in the traditional method takes a long time. Customers must interact with employees in order to place an order. Customers will wait if the employees are too busy, which may cause them to lose patience and leave the restaurant. All of this inconvenience will leave customers dissatisfied with the restaurant's service.
                            </p>    
                            <p style="text-align: justify; text-justify: inter-word;">
                            In conclusion, our system can help to improve the effectiveness and efficiency of the current ordering method, which is the traditional food ordering system.
                            </p>
                        </div>
                    </div>
                </div>

                <!-- CARD 2 -->
                <div class="col-lg-4">
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div
                            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Project Objective</h6>
                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                            </div>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <ul>
                            <li>To design a user-friendly web system/application for food ordering</li>
                            <li>To develop a web application that can track order</li>
                            <li> To test the functionality of the web-based system</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->
<%- include('include/_footer') %>