 <!-- Footer -->
 <footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Aicilian Resturant <a id="curYear"></a></span>
        </div>
    </div>
</footer>
<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
<i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
    <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="/staff/logout">Logout</a>
    </div>
</div>
</div>
</div>

<!-- Confirm Add-->
<div class="modal fade" id="confirmAddStaffModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="margin-top: 20%;">
        <div class="modal-content">
            <div class="modal-body" style="margin: auto; display:block;">
                <h4 id="exampleModalLabel">Staff Added</h4>
            </div>

            <div class="modal-footer">
                <a class="btn btn-primary" href="ManageStaff.html" style="margin: auto; display:block;">OK</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script>
$(document).ready(function() {
    if ($(window).width() < 768) {
    $(".sidebar").addClass("toggled")
    }
    //Success Message
    <% if ( expressFlash.length > 0) { %>
    alert('Message: <%= expressFlash.message || expressFlash[0].message%>');
    <% } %>

    // Error Message
    <% if ( expressFlash2.length > 0) { %>
    alert('Message: <%= expressFlash2[0].message || expressFlash2 %>');
    <% } %>
    
    $('#dataTable').DataTable();
    $('#curYear').text(new Date().getFullYear())

    $('.placed').css({'background-color': 'rgb(240, 142, 142)'}); 
    $('.preparing').css({'background-color': 'rgb(236, 247, 141)'});
    $('.served').css({'background-color': 'rgb(116, 197, 116)'});

    function showPreview(event){
        if(event.target.files.length > 0){
            var src = URL.createObjectURL(event.target.files[0]);
            var preview = document.getElementById("img-preview");
            preview.src = src;
            preview.style.display = "block";
    }
}

    $("#input-files").on("change", function(e) {
        showPreview(e);
    });
})
</script>
</body>
</html>